.btn-1 {
    background-color: $color-4 !important;
    color: $white !important;
    border-radius: 0 !important;
    border-style: none !important;

}

.btn-1:hover {
    transition: 0.3s !important;
    background-color: $color-1 !important;

}

.btn-danger {
    border-radius: 0 !important;

}

.btn-2 {
    background-color: $color-1 !important;
    color: $white !important;
    border-radius: 0 !important;
    border-style: none !important;
}

.btn-2:hover {
    transition: 0.3s !important;
    background-color: $color-4 !important;

}