.card {
    border-radius: 0 !important;
}

.card-body {
    background-color: $color-2;

}

.cardbody {
    background-color: white;
    padding: 0px !important;

}

.card-title {
    color: $color-1;
    text-align: center;
    text-transform: uppercase;

}

.cardtitle {
    background-color: $white;
    padding: 12px;
}

.cardtexte {
    padding: 12px;
}

.cardlink {
    text-decoration: none;
}