.vert {
    color: $color-4;
    font-weight: bold;
}

li {
    margin-bottom: 15px;

    svg {
        color: $color-4;
    }

    .contact {
        margin-left: 15px !important;

    }

    .contact2 {
        margin-left: 32px !important;

    }

}