@font-face {
    font-family: "font-1";
    src: url(../assets/fonts/Poppins-Regular.ttf);
    font-family: "font-2";
    src: url(../assets/fonts/DeliciousHandrawn-Regular.ttf);
}

$font-1: "font-1",
sans-serif;

$font-2: "font-2",
cursive;

$color-1: #118398;
$color-2: #e5e5e5;
$color-3: #4d4d4d;
$color-4: #72A200;
$white: rgb(243, 243, 243);

@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $white;
    font-family: $font-1;
    // @include verticalCenter;
}

li {
    list-style-type: none;
}

h2 {
    font-family: $font-2;
    color: $color-4;
    text-align: center;
    font-size: 4rem !important;
}

.listeSite {
    list-style: circle;
}

.blur-background {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.comment-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.img {
    margin-top: 25px;
    width: 100%;
    height: auto;
}