@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Poppins-Regular.ttf);
  font-family: "font-2";
  src: url(../assets/fonts/DeliciousHandrawn-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(243, 243, 243);
  font-family: "font-1", sans-serif;
}

li {
  list-style-type: none;
}

h2 {
  font-family: "font-2", cursive;
  color: #72A200;
  text-align: center;
  font-size: 4rem !important;
}

.listeSite {
  list-style: circle;
}

.blur-background {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.comment-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.img {
  margin-top: 25px;
  width: 100%;
  height: auto;
}

.navLink:hover {
  transition: 0.3s;
  color: #118398 !important;
}

.navLink:active {
  color: #118398 !important;
}

.connex {
  font-size: 0.8rem;
}

.connex:hover {
  transition: 0.3s;
  color: #118398 !important;
}

.connex:active {
  color: #118398 !important;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo > * {
  margin-right: 10px;
  /* espace entre le logo et le texte */
}

.navOmbre {
  box-shadow: 5px 5px 5px grey;
}

.sidebar {
  background-color: #4d4d4d !important;
  color: rgb(243, 243, 243) !important;
}

.link:hover {
  color: #72A200 !important;
  transition: 0.3s;
}

.link:active {
  color: #72A200 !important;
}

.menu {
  margin-left: 15px !important;
}

.nav-item {
  margin-left: 10px !important;
  margin-bottom: 20px !important;
}

.link2 {
  color: rgb(243, 243, 243);
  text-decoration: none;
}

.link2:hover {
  color: #72A200 !important;
  transition: 0.3s;
}

.link2:active {
  color: #72A200 !important;
}

.card {
  border-radius: 0 !important;
}

.card-body {
  background-color: #e5e5e5;
}

.cardbody {
  background-color: white;
  padding: 0px !important;
}

.card-title {
  color: #118398;
  text-align: center;
  text-transform: uppercase;
}

.cardtitle {
  background-color: rgb(243, 243, 243);
  padding: 12px;
}

.cardtexte {
  padding: 12px;
}

.cardsite {
  background-color: rgb(243, 243, 243);
  padding: 12px;
}

.cardlink {
  text-decoration: none;
}

table tbody tr:nth-child(even) {
  background-color: rgb(243, 243, 243);
}

thead {
  background-color: rgb(243, 243, 243);
}

.btn-1 {
  background-color: #72A200 !important;
  color: rgb(243, 243, 243) !important;
  border-radius: 0 !important;
  border-style: none !important;
}

.btn-1:hover {
  transition: 0.3s !important;
  background-color: #118398 !important;
}

.btn-danger {
  border-radius: 0 !important;
}

.btn-2 {
  background-color: #118398 !important;
  color: rgb(243, 243, 243) !important;
  border-radius: 0 !important;
  border-style: none !important;
}

.btn-2:hover {
  transition: 0.3s !important;
  background-color: #72A200 !important;
}

table tbody tr:nth-child(even) {
  background-color: rgb(243, 243, 243);
}

thead {
  background-color: rgb(243, 243, 243);
}

.fond {
  background-color: #4d4d4d;
  margin-top: 10px;
  padding: 2px;
  color: #e5e5e5;
  font-size: 0.6rem;
  text-align: center;
}

.vert {
  color: #72A200;
  font-weight: bold;
}

li {
  margin-bottom: 15px;
}
li svg {
  color: #72A200;
}
li .contact {
  margin-left: 15px !important;
}
li .contact2 {
  margin-left: 32px !important;
}

.noaccess {
  padding-top: 10px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

.access {
  text-decoration: none;
  color: #118398;
}

.access:hover {
  transition: 0.5s;
  text-decoration: underline;
  color: #72A200;
}

.register {
  padding-top: 10px;
  text-decoration: none;
  color: #118398;
}

.register:hover {
  transition: 0.5s;
  text-decoration: underline;
  color: #72A200;
}/*# sourceMappingURL=index.css.map */